.container{
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
    padding: 20px;
}
@media only screen and(max-width:600px){
    .container{
        width: 90%;
        margin: 10px auto;
        padding-bottom: 5px;


    }

}